.article {
    margin-top: 1em;
}

body {
    min-width: 460px;
    font-family: "Meiryo UI", "Microsoft YaHei", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun;
}

@media screen and (max-width: 1080px) {
    #vBase {
        display: none;
    }

    #jumo {
        display: none;
    }

    .hidden-my {
        display: none;
    }

    #right-content {
        width: 100%;
    }

    .tags {
        display: none;
    }

    .mobile-show {
        display: none;
    }
}

#slide-out > li {
    display: block;
}

#myNav {
    z-index: 9999;
}

.preloader-item {
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 150px;
}

a:hover {
    color: white;
}

h1 {
    font-size: 3.5rem;
    font-family: "Meiryo UI", "Microsoft YaHei", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, Monaco, monospace, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun;
}

h4 {
    font-size: 2rem;
}

.mycomment {
    width: 100%;
    max-width: 1080px;
}

.red-card {
    background-color: #ee6e73;
    display: block;
}

.list-icon {
    margin-right: 0.1rem;
}

.light-red {
    color: #ee6e73;
}

.tool-header {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 800px) {
    .admin-login {
        width: 80%;
        margin: 100px auto;
    }
}

@media screen and (min-width: 800px) {
    .admin-login-big {
        width: 40%;
        margin: 100px auto;
    }
}

.about-card {
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

[v-cloak] {
    display: none;
}
