{% extends "admin/admin_base.html" %}
{% block content %}
    <div class="boloContainer" id="vNews">
        <div class="ui breadcrumb">
            <a class="section">新闻</a>
            <i class="right angle icon divider"></i>
        </div>
        <div class="ui divider"></div>
        <table class="ui celled selectable table">
            <thead>
            <tr>
                <th>新闻</th>
                <th>获取时间</th>
                <th>新闻时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <div v-show="noData" class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
            </div>
            <tr v-for="(index, news) in news_list">
                <td>
                    <h4 class="ui image header">
                        <img src="/s/image/avatar.png" class="ui mini rounded image">
                        <div class="content">${ news.title }}
                            <div class="sub header">
                                <span>&nbsp;</span>
{#                                <span><i class="comments icon"></i>${ article.comment_number }}</span>#}
                            </div>
                        </div>
                    </h4>
                </td>
                <td>${ news.create_time }}</td>
                <td>${ news.time }}</td>
                <td>
                    <a class="ui small blue button" href="${ news.url }}" target="_blank">详情</a>
                    <button v-show="news.like" class="ui small gray labeled icon button"
                            @click="publishArticle(know.id)"><i
                            class="icon download"></i>不感兴趣
                    </button>
                    <button v-else="news.like" class="ui small green labeled icon button"
                            @click="publishArticle(know.id)"><i
                            class="icon upload"></i>感兴趣
                    </button>
                    <button class="ui small red labeled icon button" onclick="deleteArticle()"><i
                            class="icon delete"></i>删除
                    </button>
                    <div class="ui basic modal" id="delModal${ article.id }}">
                        <i class="close icon"></i>
                        <div class="header">
                            删除新闻 ${ news.title }}
                        </div>
                        <div class="image content">
                            <div class="image">
                                <i class="remove user icon"></i>
                            </div>
                            <div class="description">
                                <p>情确认,您要删除新闻 ${ news.title }} 吗?</p>
                            </div>
                        </div>
                        <div class="actions">
                            <div class="two fluid ui inverted buttons">
                                <div class="ui red basic cancel inverted button">
                                    <i class="remove icon"></i>
                                    不不,点错了
                                </div>
                                <div class="ui green basic approve inverted button">
                                    <i class="checkmark icon"></i>
                                    废话
                                </div>
                            </div>
                        </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <a class="ui left floated small green labeled icon button" href="/api/v1/news"><i
                            class="newspaper icon"></i> 添加新闻
                    </a>
                    <div class="ui right floated pagination menu">
                        <a class="icon item" :class="{'disabled': pageObj.previous == undefined}"
                           @click="getData(pageObj.previous)">
                            <i class="left chevron icon"></i>
                        </a>
                        <a class="item" v-for="page in pageObj.page_range"
                           :class="{'active': page.page == pageObj.current}" @click="getData(page.page)">${
                            page.page }}
                            <a class="icon item" :class="{'disabled': pageObj.next == undefined}"
                               @click="getData(pageObj.next)">
                                <i class="right chevron icon"></i>
                            </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script src="/s/js/src/admin_knowledge.js"></script>
{% endblock %}