{% extends "blog/base.html" %}
{% block title %}关于 | RaPoSpectre的个人博客{% endblock %}
{% block content %}
    <a class="card red-card about-card waves-effect" href="https://www.github.com/bluedazzle/django-vue.js-blog" target="_blank">
        <h2 class="ui center aligned icon header" style="color: white;"><i class="circular white users icon"></i> RaPoSpectre </h2>
        <h4 class="ui center aligned white-text">Life is short Use Python</h4>
        <div class="ui center aligned white-text">
            <span style="margin-right: 10px;"><i class="ui mail icon"></i> rapospectre@gmail.com</span>
            <span><i class="ui github icon"></i> https://github.com/bluedazzle</span>
        </div>
    </a>
{% endblock %}
{% block js %}
    <script src="/s/js/src/index.js"></script>
{% endblock %}
