{% extends "blog/base.html" %}
{% block title %}{{ article.title }} | RaPoSpectre的个人博客{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/s/css/sco.message.css">
    <link rel="stylesheet" href="/s/css/editormd.min.css">
{% endblock %}
{% block content %}
    <div>
        <div>
            <h1 class="center-align" style="margin-top: 10px;">{{ article.title }}</h1>
            <div class="row">
                <div class="col s6 left-align"><a class="ui label white-text waves-effect"
                                                  style="background-color: #ee6e73;">{{ article.classification.title }}</a>
                </div>
                <div class="col s6 right-align">{{ article.create_time }}</div>
            </div>
            <div class="divider"></div>
            <div id="article" style="background-color: #F9F9F5; overflow: hidden;">
                {{ article.content | safe }}
            </div>
        </div>
    </div>
{% endblock %}

