{% extends "blog/base.html" %}
{% block title %}博客列表 | RaPoSpectre的个人博客{% endblock %}
{% block content %}
    <div>
        <div class="row">
            <div class="">
                {% for article in article_list %}
                <div class="card">
                    <a class="card-content white-text waves-effect red-card" href="{{ host }}/blog/{{ article.id }}">
                        <h1 class="">{{ article.title }}</h1>
                        <div>{{ article.summary | safe }}</div>
                    </a>
                    <div class="card-action row">
                        <div class="col s6 left-align">
                            
                            </div>

                        <div class="col s6 right-align">
                            <span><i class="ui eye icon list-icon"></i>{{ article.views }}</span>
                            <span><i class="ui comment icon list-icon"></i>{{ article.comment_number }}</span>
                            <span><i class="ui time icon list-icon"></i>{{ article.create_time }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

